.header-navbar_text{
   
    border: none;
    outline: none;
    border-radius: 12px;
    width: 200px;
    height: 30px;
    background-color: rgb(240, 236, 236);
   
    
}
.header-navbar_icon1,
.header-navbar_icon2,
.header-navbar_icon3,
.header-navbar_icon31,
.header-navbar_icon123,
.nav_bars

{
    display: inline-block;
    font-size: 19px;
}
.nav_bars{
     margin-top: 17px;
    width: 25px;
    height: 25px;
    color: black;
    display: none;
    
}
.main_mobile{
    position: fixed;
    top:49px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
   
    background-color:rgb(240,242,245);
    transform: translateX(-100%);
   /* display: none;*/

}
.nav__input{
    display: none;
}
.nav__input:checked ~.main_mobile{
  transform: translateX(0%);
  
}

@media(max-width:1023px){
    .nav_bars
    {
        display: block;
    }
    
    .header-navbar_icon123{
        display: none;
    }
}

.listmain_mobile{
    display: flex;
    
}
.listmain_mobile:hover{
  background-color: #cccccc;
  border-radius: 10px;

}
.main_mobile-link{
text-decoration: none;
color: #333;
display: block;

}
.main_name-mobile{
  color: black;
  font-size: 11px;
  font-weight: 600;
  margin: 9px;
}
.main_img-mobile{
  width: 25px;
  height: 25px;
  margin-top:15px;
  
   

}

.fab,
.fas,
.far{
    color:black;
    
    
    

    
   
}
.fa-facebook
{
    color:rgb(91,91,220);
    font-size: 29px;
    
    
    

}

.header-notify{
    
    position: absolute;
    top:40px;
    width: 280px;
    background-color:white;
    right: 5px;
    border: 1px solid rgb(236, 232, 232);
    cursor: pointer;
    animation: Animation ease-in 0.3 ;
    transform-origin: calc(100%-20px) top;
    display: none;
    
}
.header-notify::before{
    content: "";
    display: block;
    position:absolute;
    width: 100%;
    height: 15%;
    
    left: 0;
    top:-16px;
    
}




@keyframes Animation{
from{
    opacity: 0;
    transform: scale(0);
}
to{
    opacity: 1;
  transform: scale(1);
}
}
.header-notify_list{
    padding-left: 0;

}
.header-notify_item{
 display: flex;
 
}
.header-notify_item:hover{
    background-color:#cccccc;
    
}
.header-notify_item_notify:hover .header-notify{
    display: block;
}


.header-notify_link{

    display: flex;
    padding: 8px;
    text-decoration: none;
   

}
h6{
    margin: 1px;
    border-top: 1px solid #ccc;
    color: rgb(131, 127, 127);
    
    
}


.header-notify_info{
   
    margin-left: 2px;
    
}
.header-notify_name{
 color: black;
 
 font-size: 12px;
 font-weight: 600;
}
.header-notify_des{
  font-size: 11px;
  color: rgb(131, 127, 127);
  
}
.header-nofity-footer{
    
    color: rgb(131, 127, 127);
    font-size: 9px;
    padding-left: 1px;
    
}
.header-nofity-footer1-link{
    text-decoration: none;
    color: rgb(131, 127, 127);
    font-size: 8px;
    
}
.create_plus{
    position: absolute;
    top:40px;
    width:313px;
    background-color:white;
    right:5px;
    border: 1px solid rgb(236, 232, 232);
    cursor: pointer;;
    animation: Animation2 ease-in 0.3 ;
    
    display: none;

}
.create_plus-list{
  padding-left: 0;
  list-style: none;
}
.create_plus-item:hover{
  background-color:#ccc;
  border-radius: 3px;
}
.create_plus-item-has:hover .create_plus{
    display: block;
}
.create_plus::before{
    content: "";
    display: block;
    position:absolute;
    width: 100%;
    height: 15%;
    
    left: 0;
    top:-16px;
    
}
.create_plus-link{
  display: flex;
  padding:8px;
  text-decoration: none;
}
.create_plus-info{
    margin-left: 3px;

}
.create_plus-name{
    color: black;
 font-size: 12px;
 font-weight: 550;

}
.create_plus-des{
    font-size: 11px;
    margin-left: 2px;
  color: rgb(131, 127, 127);
  

}
.create_plus::before{
    content: "";
    display: block;
    position:absolute;
    width: 100%;
    height: 15%;
    
    left: 0;
    top:-16px;
    
}
@keyframes Animation2{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
      transform: scale(1);
    }
    }
    .main_name{
        color: black;
        font-size: 12px;
        font-weight: 600;
        margin-left: 3px;
       line-height: 30px;
        
        
    
        
    }
.listmain{
    list-style: none;
    display: flex;
    margin: 0 15px 15px 10px;
    padding-top: 2%;
   
       
        
        
    }
.main_link{
        text-decoration: none;
    }
.main_img{
        width: 25px;
        height: 25px;
        padding-right: 1.5%;
       
        
    }
    .fa-store-alt,
    .fa-user-circle,
    .fa-user-friends,
    .fa-camera-retro,
    .fa-user,
    .fa-users{
        margin:9px;
       color:#47d3d3;
        
    }
    
    
    .fa-angle-down{
        margin:0 10px 0px 5px;
        color: black;
    }
    .listmain:hover{
        background-color:rgb(226, 223, 223);
        border-radius: 5px;
       
    }
    h4{
        margin:15px;
        padding-top:3%;
        border-top: 1px solid #ccc;
        color: rgb(131, 127, 127);
        font-size: 13px;
        
    }
    h3{
        color: rgb(131, 127, 127);
        font-size: 14px;
        padding-top:2% ;
    }
    .main3_list{
        display: flex;
        justify-content: space-between;
    }
    
    .main3_icon{
        float: right;
        
        
    }
    .fa-file-video,
    .fa-search,
    .fa-ellipsis-h{
        font-size: 15px;
        color: rgb(153, 151, 151);
        margin: 0 10px;
    }
    .listmain3{
     list-style: none;
    }
    .listmain3:hover{
        background-color:rgb(223, 219, 219);
        border-radius: 12px;
        
    }
    .main3_link{
        text-decoration: none;
        
    }
    .main3_img{
        width: 29px;
        height: 29px;
       margin-top: 15px;
       margin-right: 8px;
        
    }
    .main3_name{
        color: black;
        font-size: 11px;
        font-weight: 550;
        
       
       
    }
    .main2_img{
        width: 120px;
        height: 120px;
        margin: 10px;
    }
    .listmain2{
        list-style: none;
    }
    h5{
    
        border-top: 1px solid #ccc;
        color: rgb(131, 127, 127);
        
        
    }   
     

